<app-guest-layout>
  <div
    class="px-[32px] md:px-[64px] lg:px-[120px] pt-[50px]  bg-tri-pattern bg-cover bg-center lg:h-[720px] h-auto"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 h-full">
      <div class="hidden md:flex justify-center">
        <div class="">
          <img
            alt="girl holding a phone"
            src="/assets/ninja-4.svg"
            class="w-full h-full flip"
          />
        </div>
      </div>
      <form
        [formGroup]="signUpForm"
        (ngSubmit)="onSubmit()"
        class="h-[600px] flex flex-col gap-3 p-5 lg:py-5 lg:px-20 overflow-y-auto"
      >
        <h3 class="title-large">Hi Welcome,</h3>
        <p class="title-medium font-light text-sec-100">
          Please fill in your details below
        </p>
        <div class="flex flex-col gap-2">
          <div class="flex gap-1 flex-col xl:flex-row ">
            <div class="flex flex-col gap-1 w-full">
              <label>Firstname</label>
              <input
                type="text"
                formControlName="firstname"
                id="firstname"
                class="punter-input w-full"
                placeholder="Enter your firstname"
              />
              <small class="text-error" [hidden]="!firstNameError">{{ firstNameError }}</small>
            </div>
            <div class="flex flex-col gap-1 w-full">
              <label>Lastname</label>
              <input
                type="text"
                formControlName="lastname"
                id="lastname"
                class="punter-input w-full"
                placeholder="Enter your lastname"
              />
              <small class="text-error" [hidden]="!lastNameError">{{ lastNameError }}</small>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <label>Email</label>
            <input
              type="email"
              formControlName="email"
              id="sign-in-email"
              class="punter-input"
              placeholder="Enter your email"
            />
            <small class="text-error" [hidden]="!emailError">{{ emailError }}</small>
          </div>
          <div formGroupName="passwordForm" class="flex flex-col gap-3">
            <div class="flex flex-col gap-1">
              <label>Password</label>
              <input
                type="password"
                formControlName="password"
                id="sign-in-password"
                class="punter-input"
                placeholder="Enter your password"
              />
              <small class="text-error" [hidden]="!passwordError">{{ passwordError }}</small>
            </div>
            <div class="flex flex-col gap-1">
              <label>Confirm Password</label>
              <input
                type="password"
                formControlName="confirmPassword"
                id="sign-in-confirm-password"
                [ngClass]="{'punter-input': true, 'ng-invalid': !!passwordMatchError }"
                placeholder="Enter your password"
              />
              <small class="text-error capitalize" [hidden]="!passwordMatchError">{{ passwordMatchError }}</small>
            </div>
          </div>
        </div>

        <div class="flex justify-between gap-2 items-center flex-col xl:flex-row">
          <div class="w-full">
            <button class="btn" [disabled]="isLoading || !signUpForm.valid || !!passwordMatchError" >Sign up</button>
          </div>
          <h3 class="text-center text-sec-100">OR</h3>
          <div class="w-full">
            <button class="btn-outline flex gap-2" (click)="signUpWithGoogle()" [disabled]="isLoading">
              <span><img alt="google" src="/assets/google.svg" /></span>
              <span class="sm:inline-block hidden">Sign up with gmail</span>
            </button>
          </div>
        </div>
        <div class="mx-auto">
          <small class="text-sec-100"
            >Already have an account ?
            <span class="text-pri-default"><a routerLink="/auth">Sign in</a></span></small
          >
        </div>
      </form>
    </div>
  </div>
</app-guest-layout>
