<div class="relative" >
  <app-header [scroll]="scrollValue"></app-header>
  <div
    class="px-[32px] md:px-[64px] bg-cover bg-center lg:px-[120px] h-screen bg-hero-pattern"
  >
    <div class="h-full flex items-center flex-col gap-20">
      <div class="max-w-[780px] mt-[150px]">
        <h2 class="display-large text-center">
          Punter Masters, A place for master bettors
        </h2>
      </div>
      <div class="w-full md:w-[302px]">
        <button class="btn">Sign up</button>
      </div>
    </div>
  </div>
  <div class="h-[300px]"></div>
</div>
