<div class="relative">
  <!-- header -->

  <app-header [scroll]="scrollValue"></app-header>

  <!-- hero section -->
  <div
    class="px-[32px] md:px-[64px] lg:px-[120px] h-screen bg-light grid grid-cols-2"
  >
    <div class="h-full justify-center flex flex-col gap-10">
      <div class="max-w-[780px]">
        <h2 class="display-large">
          Punter Masters, A place for master bettors
        </h2>
      </div>
      <div class="w-full md:w-[302px]">
        <button class="btn">Sign up</button>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="">
        <img src="/assets/ilustration.svg" class="h-full w-full" />
      </div>
    </div>
  </div>

  <!-- Section two -->
  <div class="h-[953px] bg-cover bg-center bg-tri-pattern">
    <div
      class="px-[32px] md:px-[64px] lg:px-[120px] grid grid-cols-2 relative h-full"
    >
      <div class="h-full flex flex-col">
        <div
          class="big-shadow border border-pri-bg px-3 py-7 rounded-lg flex flex-col gap-7 relative"
        >
          <div class="absolute w-[150px] h-[150px] right-[-100px] top-[-40px]">
            <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
          </div>
          <p class="title-large">
            Start learning from the masters today and become a master yourself
          </p>
          <div class="flex gap-3">
            <div
              class="w-[48px] h-[48px] rounded-md drop-shadow-2xl bg-pri-100 border border-pri-50 flex justify-center items-center"
            >
              <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
            </div>
            <div class="flex flex-col gap-1">
              <p class="">Plan your day</p>
              <p class="text-sec-200">
                With our rollover game you can plan and lay down your games
              </p>
            </div>
          </div>
          <div class="flex gap-3">
            <div
              class="w-[48px] h-[48px] rounded-md drop-shadow-2xl bg-pri-100 border border-pri-50 flex justify-center items-center"
            >
              <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
            </div>
            <div class="flex flex-col gap-1">
              <p class="">Plan your day</p>
              <p class="text-sec-200">
                With our rollover game you can plan and lay down your games
              </p>
            </div>
          </div>
          <div class="w-full md:w-[302px] flex justify-center gap-3">
            <button class="btn flex justify-center gap-3">
              Join the fun
              <img src="/assets/arrow-right.svg" alt="arrow left" />
            </button>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="w-full h-full">
          <img src="/assets/ninja-3.svg" class="h-full w-full" />
        </div>
      </div>
    </div>
  </div>

  <!-- section three -->
  <div class="relative h-[893px] bg-cover bg-center bg-tri-pattern-two">
    <div
      class="px-[32px] md:px-[64px] lg:px-[120px] grid grid-cols-2 justify-center h-full"
    >
      <div class="">
        <div class="h-full w-full">
          <img src="/assets/ninja-2.svg" class="h-full w-full" />
        </div>
      </div>
      <div class="h-full flex flex-col gap-10">
        <div class="w-full">
          <div
            class="big-shadow border border-pri-bg px-3 py-7 rounded-lg flex flex-col gap-7 relative"
          >
            <div
              class="absolute w-[150px] h-[150px] right-[-100px] top-[-40px]"
            >
              <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
            </div>
            <p class="title-large">
              Start learning from the masters today and become a master yourself
            </p>
            <div class="flex gap-3">
              <div
                class="w-[48px] h-[48px] rounded-md drop-shadow-2xl bg-pri-100 border border-pri-50 flex justify-center items-center"
              >
                <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
              </div>
              <div class="flex flex-col gap-1">
                <p class="">Plan your day</p>
                <p class="text-sec-200">
                  With our rollover game you can plan and lay down your games
                </p>
              </div>
            </div>
            <div class="flex gap-3">
              <div
                class="w-[48px] h-[48px] rounded-md drop-shadow-2xl bg-pri-100 border border-pri-50 flex justify-center items-center"
              >
                <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
              </div>
              <div class="flex flex-col gap-1">
                <p class="">Plan your day</p>
                <p class="text-sec-200">
                  With our rollover game you can plan and lay down your games
                </p>
              </div>
            </div>
            <div class="w-full md:w-[302px] flex justify-center gap-3">
              <button class="btn flex justify-center gap-3">
                Join the fun
                <img src="/assets/arrow-right.svg" alt="arrow left" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section four -->

  <div class="relative h-[772px] py-3">
    <div class="w-[150px] h-[150px] mx-auto">
      <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
    </div>
    <div
      class="px-[32px] md:px-[64px] lg:px-[120px] flex justify-center gap-5 py-3"
    >
      <app-card
        iconUrl="/assets/share-icon.svg"
        content="Share your bet codes with each other and better your chances of hitting big"
        header="SHARE BET CODES"
      ></app-card>
      <app-card
        iconUrl="/assets/share-icon.svg"
        content="Share your bet codes with each other and better your chances of hitting big"
        header="SHARE BET CODES"
      ></app-card>
      <app-card
        iconUrl="/assets/share-icon.svg"
        content="Share your bet codes with each other and better your chances of hitting big"
        header="SHARE BET CODES"
      ></app-card>
    </div>
  </div>

  <!-- section 5 -->
  <div class="relative h-[953px] bg-cover bg-center bg-tri-pattern-three">
    <div class="px-[32px] md:px-[64px] lg:px-[120px] grid grid-cols-2 h-[932px]">
      <div class="h-full justify-start flex flex-col gap-10">
        <div
          class="big-shadow border border-pri-bg px-3 py-7 rounded-lg flex flex-col gap-7 relative max-w-lg"
        >
          <div class="absolute w-[150px] h-[150px] right-[-100px] top-[-40px]">
            <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
          </div>
          <p class="title-large">
            Start learning from the masters today and become a master yourself
          </p>
          <div class="flex gap-3">
            <div
              class="w-[48px] h-[48px] rounded-md drop-shadow-2xl bg-pri-100 border border-pri-50 flex justify-center items-center"
            >
              <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
            </div>
            <div class="flex flex-col gap-1">
              <p class="">Plan your day</p>
              <p class="text-sec-200">
                With our rollover game you can plan and lay down your games
              </p>
            </div>
          </div>
          <div class="flex gap-3">
            <div
              class="w-[48px] h-[48px] rounded-md drop-shadow-2xl bg-pri-100 border border-pri-50 flex justify-center items-center"
            >
              <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
            </div>
            <div class="flex flex-col gap-1">
              <p class="">Plan your day</p>
              <p class="text-sec-200">
                With our rollover game you can plan and lay down your games
              </p>
            </div>
          </div>
          <div class="w-full md:w-[302px] flex justify-center gap-3">
            <button class="btn flex justify-center gap-3">
              Join the fun
              <img src="/assets/arrow-right.svg" alt="arrow left" />
            </button>
          </div>
        </div>
      </div>
      <div class="h-full w-full">
        <div class="h-full w-full">
          <img src="/assets/ninja-4.svg" class="h-full w-full" />
        </div>
      </div>
    </div>
  </div>

  <!-- footer section -->
  <div class="h-[953px] bg-cover bg-center bg-tri-pattern-four">
    <div class="flex items-center justify-center w-full py-5 gap-10 flex-col">
      <div class="w-[150px] h-[150px]">
        <img src="/assets/punter-icon-2.svg" class="h-full w-full" />
      </div>
      <div class="max-w-lg">
        <p class="title-large text-center">
          Do you wish to be a master bettor or you wish to learn from the
          masters? Join now
        </p>
      </div>

      <div class="w-full md:w-[302px] flex justify-center gap-3">
        <button class="btn flex justify-center gap-3">
          Join the fun
          <img src="/assets/arrow-right.svg" alt="arrow left" />
        </button>
      </div>
    </div>
  </div>
</div>
